/*
General
*/
:root {
  --color-primary: rgb(203, 157, 255);
  --color-card: rgb(87, 216, 255);
  --color-deck: lightcoral;
  --color-learn-review: lightgreen;
  --font-size-regular: 16px;
  /* --font-family-navbar: 'Segoe UI', sans-serif; */
  --font-family-navbar: 'Courier New', monospace;
  --font-family-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --border-width-container: 3px;
  --border-radius-rounded-btn: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-regular);
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

a {
  text-decoration: none;
}


/*
Navigation bar styling
*/
.nav-links {
  background-color: var(--color-primary);
  font-family: var(--font-family-navbar);
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  /* gap: 1rem; */
  justify-content: flex-start;
}

  .nav-links li {
    border: solid 2px grey;
    border-radius: 10px;
    padding: 8px 15px;
    margin: 1em 0.5em;
    text-align: center;
  }

  .nav-links li:first-child {
    margin-left: 1em;
  }

  .nav-links a {
    text-decoration: none;
  }

  .nav-links button {
    border: none;
    background-color: transparent;
    font-family: var(--font-family-navbar);
    font-size: var(--font-size-regular);
  }


/*
Form styling
*/
.form-container {
  border: solid var(--border-width-container) var(--color-primary);
  margin: 30px auto;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
}

  .form-container * {
    display: block;
  }

.pos-fieldset {
  border-radius: 10px;
}

  .pos-fieldset ul {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
  }

  .pos-fieldset li {
    border: solid 2px var(--color-primary);
    border-radius: 10px;
    padding: 5px;
  }

.form-input-container {
  margin: 1em 0;
}

  .form-container #card-front-input,
  .form-container #card-back-input {
    width: 75%;
  }

  .form-container #card-example-textarea,
  .form-container #card-translated-example-textarea {
    width: 100%;
    height: 4em;
    resize: vertical;
  }

.form-submit-btn {
  margin: auto;
  margin-top: 1.5rem;
  padding: 8px 25px;
  background-color: var(--color-primary);
  border: solid var(--border-width-container) grey;
  border-radius: var(--border-radius-rounded-btn);
}

.form-submit-btn:hover {
  background-color: rgb(219, 187, 255);
}

.autofill-btn {
  background: linear-gradient(135deg, var(--color-primary), rgb(253, 151, 104));
  border-radius: var(--border-radius-rounded-btn);
  padding: 7px 10px;
  margin: 10px 0px;
}

.form-msg {
  color: red;
}


/*
Deck styling
*/
.deck-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.deck-container {
  border: solid var(--border-width-container) var(--color-deck);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  min-width: 200px;
}

.deck-btn-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.75rem;
}

  .deck-btn-container > * {
    text-align: center;
    flex-basis: 50%;
    padding: 6px 0;
    cursor: pointer;
  }

  .deck-btn-container .learn-btn {
    background-color: var(--color-learn-review);
    border-top-left-radius: var(--border-radius-rounded-btn);
  }

  .deck-btn-container .add-cards-btn {
    background-color: lightskyblue;
    /* border-top-right-radius: var(--border-radius-deck-btn); */
  }

  .deck-btn-container .show-cards-btn {
    background-color: lightpink;
    /* border-bottom-left-radius: var(--border-radius-deck-btn); */
  }

  .deck-btn-container .delete-deck-btn {
    background-color: red;
    color: white;
    border-bottom-right-radius: var(--border-radius-rounded-btn);
  }


/*
Flashcard styling
*/
.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container {
  border: solid var(--border-width-container) var(--color-card);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  min-width: 200px;
}

  .card-container .delete-card-btn {
    margin-top: 1rem;
    padding: 5px 10px;
    border: solid var(--border-width-container) grey;
    border-radius: 20px;
  }

  .card-container .delete-card-btn:hover {
    background-color: red;
    color: white;
  }


/*
Learn and review page styling
*/
.review-container {
  border: solid var(--border-width-container) var(--color-learn-review);
  padding: 20px;
  margin: 30px auto;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}

#card-front,
#card-back {
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(92, 92, 92);
}

#card-back {
  margin-top: 1.5rem;
}

#show-answer-btn {
  margin-top: 0.75rem;
  padding: 7px 20px;
  border: solid var(--border-width-container) grey;
  border-radius: 10px;
}

#show-answer-btn:hover {
  background-color: rgb(207, 207, 207);
}

#rating-container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

#rating-container .rating-btn {
  border-radius: 10px;
  padding: 10px 20px;
  margin: 0px 15px;
  text-transform: uppercase;
}

#review-cannot-solve-btn {
  background-color: rgb(255, 83, 83);
}

#learn-previous-btn,
#review-difficult-btn {
  background-color: orange;
}

#learn-normal-btn,
#review-normal-btn {
  background-color: rgb(35, 185, 255);
}

#learn-next-btn,
#review-easy-btn {
  background-color: lightgreen;
}

#learn-to-review-mode-btn {
  background-color: lightcyan;
}
