<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <div th:replace="~{fragments/basic :: head-contents}"></div>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
  <div th:replace="~{fragments/basic :: navbar}"></div>

  <div class="container mt-4">
    <ul class="nav nav-tabs" id="settings-tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general-tab-contents"
          type="button" role="tab" aria-controls="general-tab-contents" aria-selected="true">
          General
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="account-tab" data-bs-toggle="tab" data-bs-target="#account-tab-contents"
          type="button" role="tab" aria-controls="account-tab-contents" aria-selected="false">
          Account
        </button>
      </li>
    </ul>
    <div class="tab-content pt-3" id="settings-tabs-contents">
      <div class="tab-pane fade show active" id="general-tab-contents" role="tabpanel" tabindex="0" th:insert="~{fragments/settings-tabs :: general-tab}">
        General settings go here...
      </div>
      <div class="tab-pane fade" id="account-tab-contents" role="tabpanel" aria-labelledby="profile-tab" tabindex="0" th:insert="~{fragments/settings-tabs :: account-tab}">
        Account settings go here...
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <script th:src="@{/js/settings-account.js}" src="/static/scripts/settings-account.js"></script>
  <script th:src="@{/js/settings-general.js}" src="/static/scripts/settings-general.js"></script>
</body>
</html>